#landing {
font-family:   
background-image: url("https://giphy.com/gifs/animation-happy-smile-xUn3BV1jRVZImZRSKs/source.gif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#title {
  text-align: center;
  font-family: Satisfy;
}

.navbar {
  overflow: hidden;
  background-color: #afcfee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
