
#landing {
background-image: url("https://media.giphy.com/media/xUn3BV1jRVZImZRSKs/source.gif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position:absolute;
top: 50%;
left: 25%; 
  
font-family:'Istok Web', sans-serif;
text-align: center;  
}

#title {
  text-align: center;
  font-family:'Bangers', cursive;;
}

.navbar {
  overflow: hidden;
  background-color: #afcfee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
